[client]
port=3366
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
#bind-address=0.0.0.0
#port=3366
#server-id=1
#pid-file=amsdb.pid
default-storage-engine=MYISAM
#basedir=C:/Program Files/SYSTEM-IS/AMS_2.0/server/mysql
#datadir=C:/ProgramData/SYSTEM-IS/AMS_2.0/db
#tmpdir=C:/ProgramData/SYSTEM-IS/AMS_2.0/tmp
character-set-server=utf8
collation-server = utf8_general_ci
max_connections=500
table_open_cache=64
tmp_table_size=16M
thread_cache_size=8
myisam_max_sort_file_size=256M
myisam_sort_buffer_size=8M
key_buffer_size=16M
net_buffer_length=16K
read_buffer_size=512K
read_rnd_buffer_size=256K
sort_buffer_size=512K
max_allowed_packet=32M
thread_stack=512K
#innodb_data_home_dir=C:/ProgramData/SYSTEM-IS/AMS_2.0/db
#innodb_data_file_path=ibdata1:10M:autoextend
#innodb_log_group_home_dir=C:/ProgramData/SYSTEM-IS/AMS_2.0/db
innodb_buffer_pool_size=512M
innodb_log_file_size=32M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=50
interactive_timeout=180
wait_timeout=180
slow_query_log=1
long_query_time=5
innodb_autoinc_lock_mode=0
log_bin_trust_function_creators=1
sql-mode="NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,IGNORE_SPACE"
#log_error=C:/ProgramData/SYSTEM-IS/AMS_2.0/logs/amsdb-error.log
#slow_query_log_file=C:/ProgramData/SYSTEM-IS/AMS_2.0/logs/amsdb-slow.log

[mysqldump]
max_allowed_packet=32M

[isamchk]
key_buffer=8M
sort_buffer=8M

[myisamchk]
key_buffer=8M
sort_buffer=8M
